{% extends 'base.html'%}
{% block title%}Accounts Home Page{% endblock %}
{% block content %}
<div class="container my-5">
        <div class="row justify-content-center">
            <!-- Card 1: Upload -->
            <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-body text-center">
                        <h5 class="card-title">Upload Accounts</h5>
                        <p class="card-text">Upload a file containing account details.</p>
                        <a href="{% url 'accounts_upload' %}" class="btn btn-primary">Go to Upload</a>
                    </div>
                </div>
            </div>

            <!-- Card 2: List -->
            <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-body text-center">
                        <h5 class="card-title">Accounts List</h5>
                        <p class="card-text">View a list of all uploaded accounts.</p>
                        <a href="{% url 'accounts_list' %}" class="btn btn-primary">Go to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
